button {
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.buttonicon {
  margin: 0 8px;
  background: rgba(8, 153, 153, 0);
  transition: color .3s ease;
}

.buttonicon:hover {
  color: orange;

}

h2,
ul {
  padding: 0;
  margin: 0;
}

h2 {
  color: white;
}

ul {
  position: absolute;
  list-style: none;
  left: 0;
  background: rgb(8, 153, 153);
}

ul li {
  width: 90px;
  padding: 4px 6px;
  cursor: pointer;
}

ul li:hover {
  background: rgb(20, 179, 179);
}

input {
  width: 700px;
  height: 35px;
  font-size: 21px;
  border: none;
  border-bottom: 2px solid rgb(8, 153, 153);
  background: rgba(255, 255, 255, 0);
}

textarea {
  font-size: 18px;
  width: 700px;
  max-width: 700px;
  height: 350px;
  background: rgba(255, 255, 255, 0);
  border: none;
  margin-bottom: 5px;
}

.list-complete-item {
  transition: all 1s;
  /* display: inline-block; */
  /* margin-right: 10px; */
}

.list-complete-enter,
.list-complete-leave-to

/* .list-complete-leave-active for below version 2.1.8 */
  {
  opacity: 0;
  transform: translateY(-30px);
}

.list-complete-leave-active {
  position: absolute;
}

.blurstyle {
  filter: blur(5px);
}

.noblur {
  transition: filter 1s ease;
}